@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
body {
    background-color: hsl(210, 46%, 95%);
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
  }
  
  .article-preview {
    display: flex;
    flex-direction: row;
    width: 90%;
    max-width: 730px;
    height: auto;
    margin: 16rem auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .img-container img {
    width: 100%;
    height: 100%;
    object-fit:fill;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  
  .content-container {
    background-color: white;
    padding: 40px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
    text-align: left;
  }
  
  h1 {
    font-size: 1.25rem;
    margin-bottom: 10px;
    color: hsl(217, 19%, 35%);
  }
  
  .description {
    color: #555;
    margin-bottom: 20px;
    font-size: 13px;
    line-height: 1.2rem;
  }
  
  .footer {
    display: flex;
    align-items: center;
  }
  
  .footer img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .author {
    font-weight: 700;
    font-size: 14px;
    margin-left: 1rem;
    margin-top: 1rem;
    color: hsl(217, 19%, 35%);
  }
  
  .date {
    color: hsl(212, 23%, 69%);
    font-weight: 700;
    font-size: 14px;
    margin-top: -0.75rem;
    margin-left: 1rem;
  }
  

  @media (max-width: 768px) {
    .article-preview {
      flex-direction: column;
      width: 100%;
      margin-top: 8rem;
    }
  
    .img-container img {
      border-radius: 15px 15px 0 0;
    }
  
    .content-container {
      padding: 20px;
    }
  
    h1 {
      font-size: 1rem;
    }
  
    .description {
      font-size: 12px;
      line-height: 1.5rem;
    }
  
    .footer {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .footer img {
      margin-bottom: 10px;
    }
  
    .author {
      font-size: 12px;
    }
  
    .date {
      font-size: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .article-preview {
      margin-top: 4rem;
    }
  
 
    h1 {
      font-size: 0.875rem;
    }
  

    .description {
      font-size: 11px;
      line-height: 1.4rem;
    }
  

    .footer {
      align-items:center; 
    }
  

    .author {
      font-size: 11px;
    }
  

    .date {
      font-size: 9px;
    }
  }
  
  